*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f2f4f8;
    padding:30px;
}

.container{
    width:95%;
    max-width:1200px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

form{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
}

input,
select,
button{
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}

button{
    cursor:pointer;
    border:none;
    background:#007bff;
    color:white;
}

button:hover{
    background:#0056b3;
}

.top-bar{
    display:flex;
    gap:10px;
    margin:25px 0;
    flex-wrap:wrap;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    background:#007bff;
    color:white;
}

table th,
table td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

tr:nth-child(even){
    background:#f7f7f7;
}

.editBtn{
    background:green;
}

.deleteBtn{
    background:red;
}

#message{
    margin-bottom:15px;
    text-align:center;
    font-weight:bold;
}

.dark{
    background:#222;
    color:white;
}

.dark .container{
    background:#333;
    color:white;
}

.dark table td{
    color:white;
}

.dark input,
.dark select{
    background:#555;
    color:white;
    border:none;
}

@media(max-width:768px){

table{
    font-size:14px;
}

button{
    width:100%;
}

}




tr{

    transition:.3s;

}

tr:hover{

    background:#dff0ff;

}

button{

    transition:.3s;

}

button:hover{

    transform:scale(1.05);

}

#message{

    transition:.4s;

}